# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
application-dev.yml

# Frontend


# Environment
.env


# Databases
*.db
*.sqlite

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp