/*файл для модальных окон аутентификации и фильтрации поиска товаров*/
.error-msg {
    margin-bottom: 0.5em;
    color: #c00;
    font-size: 0.9em;
}
.success-msg {
    margin-bottom: 0.5em;
    color: green;
    font-size: 0.9em;
}
.modal-backdrop, .filter-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.modal-backdrop.closing, .filter-content.closing {
    opacity: 0;
}
.page-content, .filter-container{
    background: #fff;
    border-radius: 0.6em;
    padding: 1em;
    transform: translateY(0);
    transition: transform 0.3s ease;
    width: 20%;
}
.page-content.closing{
    transform: translateY(-2em);
}
.onClose{
    border-radius: 1em;
    background:transparent;
    border-color: #8BB4C7;
    transition: transform 0.2s ease;
    cursor: pointer;
    font-size: 1em;
    margin:0;
}
.onClose:hover{
    transform: scale(1.02);
}
.switch-link, .forgetPassword{
    color: #9356A0;
    cursor: pointer;
    text-decoration: underline #9356A0;
    transition: color 0.3s ease;
    text-align: center;
}
.switch-link:hover, .forgetPassword:hover{
    color: #bcacdb;
    text-decoration: underline #bcacdb;
}
h3{
    text-align: center;
    color:#176876;
    font-weight: normal;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formLabel{
    color: #176876 ;
    align-self: flex-start;
    margin-left: 0.6em;
}
input{
    border-radius: 0.7em;
    border: thin solid lightblue;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    align-self: flex-start;
    width: 89%;
}
.submit-btn{
    border-radius: 0.7em;
    border: thin solid lightblue;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    color: #176876 ;
    background-color: transparent;
    transition: transform 0.5s ease;
    width: 95%;
}
.submit-btn:hover{
    transform: scale(1.02);
}
.checkbox-label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox-label input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    border: 2px solid #8BB4C7;
    border-radius: 0.7em;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
.checkbox-label input[type="checkbox"]:checked {
    background-color: #176876;
    border-color: #176876;
}
.checkbox-label input[type="checkbox"]::after{
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.checkbox-label input[type="checkbox"]:checked::after{
    opacity: 1;
}
input{
    outline: none;
    transition: border-color 0.3s ease;
}
input:hover, input:focus {
    border-color: #176876;
}
.sorting{
    display: flex;
    gap: 0.5em;
    width: 100%;
    margin: 0.5em 0;
}
.sorting select{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0.7em;
    border: thin solid lightblue;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    color: #176876 ;
    background-color: transparent;
    transition: border-color 0.3s ease;
    flex-grow: 1;
    width: 52%;
}
.sorting select:focus,
.sorting select:hover{
    border-color: #8BB4C7;
    outline: none;
}