.shopping-container{
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}
.shopping-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.round{
    position: relative;
    margin: 0.1em;
}
.round label{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    display: block;
}
.round label:after{
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 0.7em;
    left: 0.7em;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 1.2em;
}
.round input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #8BB4C7;
    border-radius: 0.5em;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
.round input[type="checkbox"]:checked {
    background-color: #176876;
    border-color: #176876;
}
.round input[type="checkbox"]::after{
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.round input[type="checkbox"]:checked::after{
    opacity: 1;
}

label{
    font-weight: normal;
    padding: 0.5em;
    color: #176876;
}
.clear-cart {
    border-radius: 0.7em;
    border: thin solid #8BB4C7;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    color: #176876 ;
    background-color: transparent;
    transition: transform 0.5s ease;
    width: 95%;
}
.item-amount button[disabled]{
    opacity: 0.5;
}
.clear-cart:hover {
    transform: scale(1.02);
    color: #176876;
}
.shopping-main{
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    background: #E0E1E3;
    box-shadow: rgba(80, 78, 118, .2) 0 -25px 18px -14px inset,rgba(80, 78, 118, .15) 0 1px 2px,rgba(80, 78, 118, .15) 0 2px 4px,rgba(80, 78, 118, .15) 0 4px 8px,rgba(80, 78, 118, .15) 0 8px 16px,rgba(80, 78, 118, .15) 0 16px 32px;
    border-radius: 0.8em;
    width: 55%;
}
.item-cart{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 0.4em;
    padding: 0.1em;
}
.item-cart img{
    width: 12em;
    border-radius: 0.8em;
    align-self: center;
    margin-left: 0.4em;
}
.main-content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0.2em ;
}
.to-buy-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.to-buy-content p{
    color: red;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 0;
}
.product-name {
    color: #176876;
}
.item-cart button{
    border: none;
    background: #8BB4C7;
    border-radius: 15%;
    font-size: 1.3em;
    margin: 0.5em;
    color: white;
    cursor: pointer;
    font-weight: normal;
    padding: 0.4em;
    text-align: center;
    transition: transform 0.3s ease;
}
.item-cart button:hover{
    transform: scale(1.02);
}
.bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-amount{
    display: flex;
    align-items: center;
}
.shopping-payments{
    background: #E0E1E3;
    box-shadow: rgba(80, 78, 118, .2) 0 -25px 18px -14px inset,rgba(80, 78, 118, .15) 0 1px 2px,rgba(80, 78, 118, .15) 0 2px 4px,rgba(80, 78, 118, .15) 0 4px 8px,rgba(80, 78, 118, .15) 0 8px 16px,rgba(80, 78, 118, .15) 0 16px 32px;
    border-radius: 0.8em;
    color:#176876;
    font-size: 1.5em;
    width: 45%;
    margin-right: 0.8em;
    margin-bottom: 5em;
    text-align: center;
}