@use 'common';

.categories-page {
  @include common.flex-direction(row);
  justify-content: space-around;
  align-items: flex-start;
}

.categories, .new-category  {
  @include common.flex-direction(column);
  @include common.block-design;
  margin: 1em;
  padding: 1em;
}

.categories-list{
  @include common.flex-direction(column);

  li {
    list-style: none;
    padding: 0.4em;
  }
}

.new-category {
  width:50%;
  max-width: 45em;
  form {
    width: 95%;
  }
  .submit-btn {
    @include common.btn-design(#176876,#176876);
    width: 20%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
  }
}