@mixin flex-direction ($direction: row) {
  display: flex;
  flex-direction: $direction;
  gap: 0.6em;
  color: white;
}
@mixin block-design () {
  background: rgba(139,180,200, 0.7);
  box-shadow: 0 4px 12px rgba(139,180,200, 0.1);
  border-radius: 0.8em;
}

@mixin btn-design ($border-color, $color) {
  border-radius: 0.7em;
  border: thin solid $border-color;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
  color: $color ;
  background-color: transparent;
  transition: transform 0.5s ease;
  width: 85%;
}

@mixin msg ($color) {
  margin-bottom: 0.5em;
  color: $color;
  font-size: 0.95em;
}

@mixin text {

}

.header {
  background: linear-gradient(50deg,#176876 0%,#8BB4C7 100%);
  margin:0;
  position:sticky;
  padding: 0.6em 0;

  ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
      display:flex;
      padding-left: 1.5em;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      p{
        color:white;
        opacity:0.5;
        transition: opacity 200ms ease-out;
        margin: 0;
      }

      &:hover p{
        opacity: 1;
      }
    }
  }
}
